@import '_vars.scss';

.animation1{
    transform: translateX(0%) rotate(370deg) !important;
    transition: all 2s ease-in;
}

.animation2{
    transform: translateX(0%) rotate(-360deg) !important;
    transition: all 2s ease-in;
}

main{
    width: 100%;
    background-color: black;
   
    section:first-of-type{
        height: 200vh;
        background-image: url(../img/arkveld.png);
        background-position: calc(0% + 70% ) top; // Déplace l'image de 10% vers la gauche
        background-size: cover;
        background-repeat: no-repeat;
        
         
        h2{
        margin-top: 5vh;
        position: relative;
        z-index: 5;

        &:first-of-type::before{
            content:'La Chasse est ouverte';
            font-family: "VTCGoblinHand";
            font-size: 6rem;
            color: grey;
            position: absolute;
            left: -25%; // Ajuste selon l'effet désiré
            top: 50%; // Centre verticalement
            transform: translateY(-50%); // Ajuste pour un vrai centrage
            z-index: 3; // Place le texte derrière
            opacity: 0.2; // Ajuste la transparence si nécessaire
            white-space: nowrap; // Empêche le retour à la ligne
        }
        }

        div{
        @include container;

            div:first-of-type{
                display: flex;
                justify-content: center;
            }
        
            div:last-of-type{
                margin: 5% 0% 5% auto; // margin-top, margin-right, margin-bottom, margin-left
                @include w50;
                background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
                h3{
                padding: 15% 5% 0% 5%; // padding-top, padding-right, padding-bottom, padding-left
                margin-bottom: 2rem;
                }
                p{
                padding: 0 15% 15% 5%; // padding-top, padding-right, padding-bottom, padding-left
                }
            }
        }
    }



section:nth-of-type(2){
    position: relative;
    width: 100%;
    height: 125vh;

    h2{
        margin-top: 15vh;
        position: relative;
        z-index: 5;

        &::before{
            content:'Nouvelles menaces';
            font-family: "VTCGoblinHand";
            font-size: 6rem;
            color: grey;
            position: absolute;
            left: -25%; // Ajuste selon l'effet désiré
            top: 50%; // Centre verticalement
            transform: translateY(-50%); // Ajuste pour un vrai centrage
            z-index: 3; // Place le texte derrière
            opacity: 0.2; // Ajuste la transparence si nécessaire
            white-space: nowrap; // Empêche le retour à la ligne
        }
    }

    #menaces{
        @include container;

            div:first-of-type{
                display: flex;
                justify-content: center;
            }
        
            div:last-of-type{
                position: absolute;
                right: 0;
                top: 40vh;   // Équivaut à margin-top: 5%
                bottom: 5vh; // Équivaut à margin-bottom: 5%
                z-index:6;
                
                @include w50;
                background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
                h3{
                padding: 10% 5% 0% 5%; // padding-top, padding-right, padding-bottom, padding-left
                margin-bottom: 2rem;
                }
                p{
                padding: 0 15% 20% 5%; // padding-top, padding-right, padding-bottom, padding-left
                }
            }
        }

    #balaharaImg{
        position: absolute;
        top:15vh;
        left:-40vh;
        z-index:30;
        transform: translateX(-90%);
        transition: all 1s ease-out;

            img{
                width: 90%;
            }
    }
    

    #balahara{
        width: 100%;
        position: absolute;
        top: 37vh;
        left: 0;
        z-index: 2;

        video {
        width: 100%;
        height: auto;
        }
    }

    button{
        background-image: url(../img/iconMenu.png) ;
        background-size: cover;
        height: 15vh;
        width: 15vh;
        z-index: 20;
        position: absolute;
        bottom: 6vh;
        right: 10vh;
        display: flex;
        justify-content: center;
    
        div{
            width: 50vh;
            display: flex;
            justify-content: flex-start;
            align-items: center; // Centrer horizontalement
            transform: translateX(-30%);
            
            h4{
                width: 50vh;
            }
        }
    
    }


}

section:nth-of-type(3){
    position: relative;
    width: 100%;
    height: 125vh;
    overflow: hidden;

    h2{
        margin-top: 20vh;
        position: relative;
        z-index: 5;

        &::before{
            content:'Contenu End-Game';
            font-family: "VTCGoblinHand";
            font-size: 6rem;
            color: grey;
            position: absolute;
            left: -25%; // Ajuste selon l'effet désiré
            top: 50%; // Centre verticalement
            transform: translateY(-50%); // Ajuste pour un vrai centrage
            z-index: 3; // Place le texte derrière
            opacity: 0.2; // Ajuste la transparence si nécessaire
            white-space: nowrap; // Empêche le retour à la ligne
        }
    }

    #end-game{
        @include container;

            div:first-of-type{
                display: flex;
                justify-content: center;
            }
        
            div:last-of-type{
                position: absolute;
                left: 0;
                top: 40vh;   // Équivaut à margin-top: 5%
                bottom: 5vh; // Équivaut à margin-bottom: 5%
                z-index:6;
                
                @include w50;
                background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
                h3{
                padding: 10% 5% 0% 5%; // padding-top, padding-right, padding-bottom, padding-left
                margin-bottom: 2rem;
                }
                p{
                padding: 0 5% 30% 5%; // padding-top, padding-right, padding-bottom, padding-left
                }
            }
        }

    #hirabamiImg{
        position: absolute;
        top:10vh;
        left:35vh;
        z-index:30;
        transform: translateX(300%) rotate(10deg);
        transition: all 1s ease-out;

            img{
                width: 250%;
            }
    }
    

    #hirabami{
        width: 100%;
        position: absolute;
        top: 37vh;
        left: 0;
        z-index: 2;

        video {
        width: 100%;
        height: auto;
        }
    }

    button{
        background-image: url(../img/iconMenu.png) ;
        background-size: cover;
        height: 15vh;
        width: 15vh;
        z-index: 20;
        position: absolute;
        bottom: 6vh;
        left: 36vh;
        display: flex;
        justify-content: center;
    
        div{
            width: 50vh;
            display: flex;
            justify-content: flex-start;
            align-items: center; // Centrer horizontalement
            transform: translateX(-30%);
            
            h4{
                width: 50vh;
            }
        }
    
    }


}
}
