@import '_vars.scss';

main{
    width: 100%;
    min-height: 300vh;
    background-color: black;
    
    h2{
        margin-top: 5vh;
        position: relative;
        z-index: 5;

        &::before{
            content:'La Chasse est ouverte';
            font-family: "VTCGoblinHand";
            font-size: 6rem;
            color: grey;
            position: absolute;
            left: -25%; // Ajuste selon l'effet désiré
            top: 50%; // Centre verticalement
            transform: translateY(-50%); // Ajuste pour un vrai centrage
            z-index: 3; // Place le texte derrière
            opacity: 0.2; // Ajuste la transparence si nécessaire
            white-space: nowrap; // Empêche le retour à la ligne
        }
    }

    section{
        height: 200vh;
        background-image: url(../img/arkveld.png);
        background-position: calc(0% + 70% ) top; // Déplace l'image de 10% vers la gauche
        background-size: cover;
        background-repeat: no-repeat;
        
        
        div{
        @include container;

            div:first-of-type{
                display: flex;
                justify-content: center;
            }
        
            div:last-of-type{
                margin: 5% 0% 5% auto; // margin-top, margin-right, margin-bottom, margin-left
                @include w50;
                background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
                h3{
                padding: 15% 5% 0% 5%; // padding-top, padding-right, padding-bottom, padding-left
                margin-bottom: 2rem;
                }
                p{
                padding: 0 15% 15% 5%; // padding-top, padding-right, padding-bottom, padding-left
                }
            }
        }
    }
}


