/* Unset all kinds of preset styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* define the font*/
h2 {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  color: sandybrown;
  font-size: 4rem;
}

h3 {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  font-size: 3rem;
}

h4 {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  font-size: 2rem;
}

a {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  font-size: 1.5rem;
}

p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}

button {
  all: unset;
  cursor: pointer;
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

/* add the fonts used by the website */
@font-face {
  font-family: "VTCGoblinHand";
  src: url(../Font/VTCGoblinHand.ttf);
}
.rotateplus45 {
  transform: rotate(45deg) translate(8px, 10px);
  transition: all 1s ease;
}

.disappear {
  display: none;
  transition: all 0.5s ease;
}

.rotateminus45 {
  transform: rotate(-45deg) translate(3px, -8px);
  transition: all 1s ease;
}

/* define the containers */
/* define the dimensions of elements in % */
/* Unset all kinds of preset styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* define the font*/
h2 {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  color: sandybrown;
  font-size: 4rem;
}

h3 {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  font-size: 3rem;
}

h4 {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  font-size: 2rem;
}

a {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  font-size: 1.5rem;
}

p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}

button {
  all: unset;
  cursor: pointer;
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

/* add the fonts used by the website */
@font-face {
  font-family: "VTCGoblinHand";
  src: url(../Font/VTCGoblinHand.ttf);
}
.rotateplus45 {
  transform: rotate(45deg) translate(8px, 10px);
  transition: all 1s ease;
}

.disappear {
  display: none;
  transition: all 0.5s ease;
}

.rotateminus45 {
  transform: rotate(-45deg) translate(3px, -8px);
  transition: all 1s ease;
}

/* define the containers */
/* define the dimensions of elements in % */
header {
  width: 100%;
  height: 100vh;
}
header section {
  position: relative;
}

#logo {
  position: absolute;
  width: 60%;
  right: 10vh;
  top: 10vh;
  z-index: 2;
}

.translateNav {
  transform: translateY(180%);
  transition: all 1s ease;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px 2px rgba(255, 255, 0, 0.782);
  }
  50% {
    box-shadow: 0 0 5px 2px rgba(255, 255, 0, 0.5);
  }
  to {
    box-shadow: 0 0 5px 2px rgba(255, 255, 0, 0.782);
  }
}
header nav {
  width: 80%;
  height: 7vh;
  left: 5vh;
  bottom: 5vh;
  position: fixed;
  z-index: 9;
  transform: translateY(0%);
  transition: all 1s ease;
}
header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header nav li {
  width: 20%;
  background-image: url(../img/icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
header nav li div {
  margin-left: 25%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  position: relative;
}
header nav li div::after {
  content: "";
  opacity: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: radial-gradient(rgb(255, 255, 0), rgba(255, 255, 0, 0));
  animation: glow 1s infinite alternate;
  position: absolute;
  bottom: 2vh;
  left: -5vh;
  transition: all 1s ease;
  z-index: 20;
}
header nav li::before {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  position: absolute;
  bottom: -1vh;
  left: 5vh;
}
header nav li::after {
  content: "";
  height: 2px;
  width: 350px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  position: absolute;
  bottom: -0.7vh;
  left: 5.5vh;
}
header nav li:hover::before {
  border: 2px solid yellow;
}
header nav li:hover::after {
  background: linear-gradient(to right, rgb(255, 255, 0), rgba(255, 255, 0, 0));
}
header nav li:hover div {
  position: relative;
}
header nav li:hover a {
  color: yellow;
}
header nav li:hover div::after {
  opacity: 1;
}

header button {
  background-image: url(../img/iconMenu.png);
  background-size: cover;
  height: 15vh;
  width: 15vh;
  z-index: 10;
  position: fixed;
  bottom: 5vh;
  right: 10vh;
  display: flex;
  justify-content: center;
}
header button div {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header button div span {
  width: 100%;
  height: 10px;
  background-color: white;
}

header video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Unset all kinds of preset styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* define the font*/
h2 {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  color: sandybrown;
  font-size: 4rem;
}

h3 {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  font-size: 3rem;
}

h4 {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  font-size: 2rem;
}

a {
  color: white;
  font-family: "VTCGoblinHand";
  font-size: 1rem;
  font-size: 1.5rem;
}

p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}

button {
  all: unset;
  cursor: pointer;
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

/* add the fonts used by the website */
@font-face {
  font-family: "VTCGoblinHand";
  src: url(../Font/VTCGoblinHand.ttf);
}
.rotateplus45 {
  transform: rotate(45deg) translate(8px, 10px);
  transition: all 1s ease;
}

.disappear {
  display: none;
  transition: all 0.5s ease;
}

.rotateminus45 {
  transform: rotate(-45deg) translate(3px, -8px);
  transition: all 1s ease;
}

/* define the containers */
/* define the dimensions of elements in % */
.animation1 {
  transform: translateX(0%) rotate(360deg) !important;
  transition: all 2s ease-in;
}

.animation2 {
  transform: translateX(0%) rotate(-370deg) !important;
  transition: all 2s ease-in;
}

.animation3 {
  transform: translateX(0%) rotate(-360deg) !important;
  transition: all 2s ease-in;
}

main {
  width: 100%;
  background-color: black;
}
main section:first-of-type {
  height: 200vh;
  background-image: url(../img/arkveld.png);
  background-position: 70% top;
  background-size: cover;
  background-repeat: no-repeat;
}
main section:first-of-type h2 {
  margin-top: 5vh;
  position: relative;
  z-index: 5;
}
main section:first-of-type h2:first-of-type::before {
  content: "La Chasse est ouverte";
  font-family: "VTCGoblinHand";
  font-size: 6rem;
  color: grey;
  position: absolute;
  left: -25%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  opacity: 0.2;
  white-space: nowrap;
}
main section:first-of-type div {
  width: 90%;
  margin: 10px auto;
}
main section:first-of-type div div:first-of-type {
  display: flex;
  justify-content: center;
}
main section:first-of-type div div:last-of-type {
  margin: 5% 0% 5% auto;
  width: 50%;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}
main section:first-of-type div div:last-of-type h3 {
  padding: 15% 5% 0% 5%;
  margin-bottom: 2rem;
}
main section:first-of-type div div:last-of-type p {
  padding: 0 15% 15% 5%;
}
main section:nth-of-type(2) {
  position: relative;
  width: 100%;
  height: 125vh;
}
main section:nth-of-type(2) h2 {
  margin-top: 15vh;
  position: relative;
  z-index: 5;
}
main section:nth-of-type(2) h2::before {
  content: "Nouvelles menaces";
  font-family: "VTCGoblinHand";
  font-size: 6rem;
  color: grey;
  position: absolute;
  left: -25%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  opacity: 0.2;
  white-space: nowrap;
}
main section:nth-of-type(2) #menaces {
  width: 90%;
  margin: 10px auto;
}
main section:nth-of-type(2) #menaces div:first-of-type {
  display: flex;
  justify-content: center;
}
main section:nth-of-type(2) #menaces div:last-of-type {
  position: absolute;
  right: 0;
  top: 40vh;
  bottom: 5vh;
  z-index: 6;
  width: 50%;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}
main section:nth-of-type(2) #menaces div:last-of-type h3 {
  padding: 10% 5% 0% 5%;
  margin-bottom: 2rem;
}
main section:nth-of-type(2) #menaces div:last-of-type p {
  padding: 0 15% 20% 5%;
}
main section:nth-of-type(2) #balaharaImg {
  position: absolute;
  top: 15vh;
  left: -40vh;
  z-index: 30;
  transform: translateX(-90%);
  transition: all 1s ease-out;
}
main section:nth-of-type(2) #balaharaImg img {
  width: 90%;
}
main section:nth-of-type(2) #balahara {
  width: 100%;
  position: absolute;
  top: 37vh;
  left: 0;
  z-index: 2;
}
main section:nth-of-type(2) #balahara video {
  width: 100%;
  height: auto;
}
main section:nth-of-type(2) button {
  background-image: url(../img/iconMenu.png);
  background-size: cover;
  height: 15vh;
  width: 15vh;
  z-index: 20;
  position: absolute;
  bottom: 6vh;
  right: 10vh;
  display: flex;
  justify-content: center;
}
main section:nth-of-type(2) button div {
  width: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-30%);
}
main section:nth-of-type(2) button div h4 {
  width: 50vh;
}
main section:nth-of-type(3) {
  position: relative;
  width: 100%;
  height: 125vh;
  overflow: hidden;
}
main section:nth-of-type(3) h2 {
  margin-top: 20vh;
  position: relative;
  z-index: 5;
}
main section:nth-of-type(3) h2::before {
  content: "Contenu End-Game";
  font-family: "VTCGoblinHand";
  font-size: 6rem;
  color: grey;
  position: absolute;
  left: -25%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  opacity: 0.2;
  white-space: nowrap;
}
main section:nth-of-type(3) #end-game {
  width: 90%;
  margin: 10px auto;
}
main section:nth-of-type(3) #end-game div:first-of-type {
  display: flex;
  justify-content: center;
}
main section:nth-of-type(3) #end-game div:last-of-type {
  position: absolute;
  left: 0;
  top: 40vh;
  bottom: 5vh;
  z-index: 6;
  width: 50%;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}
main section:nth-of-type(3) #end-game div:last-of-type h3 {
  padding: 10% 5% 0% 5%;
  margin-bottom: 2rem;
}
main section:nth-of-type(3) #end-game div:last-of-type p {
  padding: 0 5% 30% 5%;
}
main section:nth-of-type(3) #hirabamiImg {
  position: absolute;
  top: 10vh;
  left: 35vh;
  z-index: 30;
  transform: translateX(300%) rotate(10deg);
  transition: all 1s ease-out;
}
main section:nth-of-type(3) #hirabamiImg img {
  width: 250%;
}
main section:nth-of-type(3) #hirabami {
  width: 100%;
  position: absolute;
  top: 37vh;
  left: 0;
  z-index: 2;
}
main section:nth-of-type(3) #hirabami video {
  width: 100%;
  height: auto;
}
main section:nth-of-type(3) button {
  background-image: url(../img/iconMenu.png);
  background-size: cover;
  height: 15vh;
  width: 15vh;
  z-index: 20;
  position: absolute;
  bottom: 6vh;
  left: 36vh;
  display: flex;
  justify-content: center;
}
main section:nth-of-type(3) button div {
  width: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-30%);
}
main section:nth-of-type(3) button div h4 {
  width: 50vh;
}
main section:nth-of-type(4) {
  position: relative;
  width: 100%;
  height: 125vh;
  overflow: hidden;
}
main section:nth-of-type(4) h2 {
  margin-top: 6vh;
  position: relative;
  z-index: 5;
}
main section:nth-of-type(4) h2::before {
  content: "Biomes etendus et vivants";
  font-family: "VTCGoblinHand";
  font-size: 6rem;
  color: grey;
  position: absolute;
  left: -25%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  opacity: 0.2;
  white-space: nowrap;
}
main section:nth-of-type(4) #biomes {
  width: 90%;
  margin: 10px auto;
}
main section:nth-of-type(4) #biomes div:first-of-type {
  display: flex;
  justify-content: center;
}
main section:nth-of-type(4) #biomes div:last-of-type {
  height: 50vh;
  position: absolute;
  left: 0;
  bottom: 5vh;
  z-index: 30;
  width: 75%;
}
main section:nth-of-type(4) #biomes div:last-of-type h3 {
  padding: 5% 5% 0% 5%;
  margin-bottom: 2rem;
  white-space: nowrap;
}
main section:nth-of-type(4) #biomes div:last-of-type p {
  padding: 0 5% 5% 5%;
}
main section:nth-of-type(4) #RayDauImg {
  position: absolute;
  top: 15vh;
  left: -50vh;
  z-index: 20;
  transform: translateX(-90%);
  transition: all 1s ease-out;
}
main section:nth-of-type(4) #RayDauImg img {
  width: 80%;
}
main section:nth-of-type(4) #RayDau {
  width: 100%;
  position: absolute;
  top: 23vh;
  left: 0;
  z-index: 2;
}
main section:nth-of-type(4) #RayDau video {
  width: 100%;
  height: auto;
}
main section:nth-of-type(4) button {
  background-image: url(../img/iconMenu.png);
  background-size: cover;
  height: 15vh;
  width: 15vh;
  z-index: 50;
  position: absolute;
  bottom: 6vh;
  right: 10vh;
  display: flex;
  justify-content: center;
}
main section:nth-of-type(4) button div {
  width: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-30%);
}
main section:nth-of-type(4) button div h4 {
  width: 50vh;
}/*# sourceMappingURL=style.css.map */